[color]
	ui = true
[user]
	name = michael.hermawan
	email = michael.hermawan@wgs.co.id
[credential]
	helper = osxkeychain
[core]
	excludesfile = /Users/Michael/.gitignore_global
	editor = /usr/bin/vim
